@model FinalExamNew.Dal.Oglas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Oglas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena.CenaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumKreiranja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OglasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
