@model FinalExamNew.Models.OglasViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Oglas detaljno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        @*<div class="row">
                @foreach (var slika in Model.AdreseSlika)
                {
                    <div class="col-md-4">

                        <img src="@slika" asp-append-version="true" style="max-width:100%; max-height:100%;display:block" />
                        &nbsp;
                    </div>
                }
            </div>*@

    </dl>
</div>
<hr />

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" value="@Model.Naslov" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" value="@Model.Tekst" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" value="@Model.Cena" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KljucneReci" class="control-label"></label>
                <input asp-for="KljucneReci" class="form-control" value="@Model.KljucneReci" />
                <span asp-validation-for="KljucneReci" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoviOglasa" class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.TipoviOglasa"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatumOd" class="control-label"></label>
                <input asp-for="DatumOd" class="form-control" />
                <span asp-validation-for="DatumOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumDo" class="control-label"></label>
                <input asp-for="DatumDo" class="form-control" />
                <span asp-validation-for="DatumDo" class="text-danger"></span>
            </div>
            <div class="row">
                @foreach (var slika in Model.AdreseSlika)
                {
                    <div class="col-md-10">
                        <img src="@slika.Split("@")[0]" asp-append-version="true" style="max-width:100%; max-height:100%;display:block" />
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        <button asp-action="DeletePicture" asp-route-id="@slika.Split("@")[1]">X</button>
                    </div>
                }
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label asp-for="UploadFiles" class="control-label"></label>
                    </dt>
                    <dd>
                        <input asp-for="UploadFiles" type="file" multiple class="btn btn-default">
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
