@model IEnumerable<FinalExamNew.Models.OglasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="col-lg-4">
        <h2>Oglasi</h2>
    </div>
    <div class="col-lg-4">
        <form action="" method="get" class="col-lg-12">
            <div class="form-group col-lg-8" style="padding-top:5%;">
                <input class="form-control" name="Search" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4" style="padding-top:5%;">
                <input type="submit" value="Find" class="btn   btn-block" />
            </div>
        </form>

    </div>
    <div class="col-lg-4" style="text-align:right; ">
        <h4 style="padding-top:5%;">
            <a asp-action="Create">Create New</a>
        </h4>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valuta)
            </td>
            <td style="text-align:right;">
                @if (ViewBag.Owner == true)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> @*|*@
                @*<a asp-action="Delete" asp-route-id="@item.ID" >Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
